<section class="s-home-event-user">
    <div class="s-user-pic s-flex-center">
        <div></div>
    </div>
    <div>
        <p class="s-user-name s-flex-center s-dark-font">{{event.crewName | uppercase}}</p>
    </div>
    <div>
        <p class="s-user-status s-flex-center s-dark-font">
            <i></i>
            <span>You're marked safe.</span>
        </p>
        <div class="s-flex-center">
            <button class="s-type1-button s-light-font">Unmark</button>
        </div>
    </div>
    <div class="top-bottom-space">
        <div class="s-flex-center top-bottom-space">
            <textarea class="s-form-input" placeholder="Send Message to Admin"></textarea>
        </div>
        <div class="s-flex-center top-bottom-space">
            <button class="s-type2-button s-light-font">Send</button>
        </div>
    </div>
</section>
