<section class="s-event-home-main">
    <p class="s-flex-center s-dark-font s-small-font"> You appear to be in the area affected by {{event.title}} </p>
    <h3 class="s-flex-center s-dark-font s-big-font"> Are you safe? </h3>
    <div class="s-flex-center top-bottom-space">
        <button class="s-spl-type-button green s-light-font s-medium-font" routerLink="message">I'm Safe</button>
    </div>
    <div class="s-flex-center top-bottom-space">
        <button class="s-spl-type-button red s-light-font s-medium-font">I'm not Safe</button>
    </div>
    <footer>
        <div class="s-flex-center top-bottom-space">
            <a class="s-light-font s-small-font"> I'm not in the area</a>
        </div>
    </footer>
</section>
